<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<th:block th:replace="base/head :: head_base(
title='Series Documentales',
links=_,
scripts=~{::script},
metadata=_)">
    <script type="text/javascript" th:src="@{/js/documental-serie/scripts.js}"></script>
</th:block>

<th:block th:replace="base/body :: body_base(~{::div})">
    <div class="col-md-9 py-5 main-content h-100">
        <div class="d-flex justify-content-between align-items-center">
            <h1 class="fw-bold">Series Documentales</h1>
            <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#documentalSerieModal">Registrar serie documental</button>
        </div>
        <form class="my-4">
            <div>
                <input type="text" class="form-control w-100"
                       id="search-documental-serie-name" placeholder="Buscar series documentales">
            </div>
        </form>
        <table class="table documental-series-table">
            <thead>
            <tr>
                <th scope="col">Código</th>
                <th scope="col">Nombre</th>
                <th scope="col">Dependencia jerárquica</th>
                <th scope="col">Unidad orgánica</th>
                <th scope="col">Definición</th>
                <th scope="col">Frecuencia</th>
                <th scope="col">Público</th>
                <th scope="col">Valor</th>
                <th scope="col">Años en AG</th>
                <th scope="col">Años en AC</th>
                <th scope="col">Fecha</th>
                <th scope="col">Operaciones</th>
            </tr>
            </thead>
            <tbody id="documental-series-table__body">
            </tbody>
        </table>
        <div class="modal fade" id="documentalSerieModal" tabindex="-1" aria-labelledby="documentalSerieModal" aria-hidden="true">
            <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Serie Documental</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="documentalSerieForm" class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="documental-serie-code" class="form-label">Código</label>
                                    <input type="text" class="form-control" id="documental-serie-code" name="documental-serie-code" required>
                                </div>
                                <div class="mb-3">
                                    <label for="documental-serie-name" class="form-label">Nombre</label>
                                    <input type="text" class="form-control" id="documental-serie-name" name="documental-serie-name" required>
                                </div>
                                <div class="mb-3">
                                    <label for="documental-serie-hierarchical-dependency">Dependencia jerárquica</label>
                                    <select class="form-control" name="documental-serie-hierarchical-dependency" id="documental-serie-hierarchical-dependency" required>
                                        <option disabled selected>[Elige una dependencia jerárquica]</option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="documental-serie-organic-unit">Unidad orgánica</label>
                                    <select class="form-control" name="documental-serie-organic-unit" id="documental-serie-organic-unit" required>
                                        <option disabled selected>[Elige una unidad orgánica]</option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="documental-serie-definition" class="form-label">Definición</label>
                                    <textarea class="form-control" id="documental-serie-definition" rows="3" name="documental-serie-definition" required></textarea>
                                </div>
                                <div class="mb-3">
                                    <label for="documental-serie-normative-scope" class="form-label">Alcance normativo</label>
                                    <textarea class="form-control" id="documental-serie-normative-scope" rows="3" name="documental-serie-normative-scope" required></textarea>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="documental-serie-service-frequency" class="form-label">Frecuencia del servicio</label>
                                    <input type="text" class="form-control" id="documental-serie-service-frequency" name="documental-serie-service-frequency" required>
                                </div>
                                <div class="mb-3">
                                    <label for="documental-serie-phisical-features" class="form-label">Características físicas</label>
                                    <input type="text" class="form-control" id="documental-serie-phisical-features" name="documental-serie-phisical-features" required>
                                </div>
                                <div class="mb-3">
                                    <label for="documental-serie-value" class="form-label">Valor de serie documental</label>
                                    <input type="text" class="form-control" id="documental-serie-value" name="documental-serie-value" required maxlength="1" minlength="1">
                                </div>
                                <div class="mb-3">
                                    <label for="documental-serie-years-in-ma" class="form-label">Años en archivo de gestión</label>
                                    <input type="number" class="form-control" id="documental-serie-years-in-ma" name="documental-serie-years-in-ma" required>
                                </div>
                                <div class="mb-3">
                                    <label for="documental-serie-years-in-ca" class="form-label">Años en archivo central</label>
                                    <input type="number" class="form-control" id="documental-serie-years-in-ca" name="documental-serie-years-in-ca" required>
                                </div>
                                <div class="mb-3">
                                    <label for="documental-serie-elaboration-date" class="form-label">Fecha de elaboración</label>
                                    <input type="date" class="form-control" name="documental-serie-elaboration-date" id="documental-serie-elaboration-date">
                                </div>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" name="documental-serie-is-public" value="on" type="checkbox" id="documental-serie-is-public">
                                    <label class="form-check-label" for="documental-serie-is-public">Es público</label>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-primary save-button" id="save-button">Guardar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>